receiver/02_cad_data/altium/opg_receiver/History
receiver/02_cad_data/altium/opg_receiver/_Previews
receiver/02_cad_data/altium/opg_receiver/opg_receiver_pcb.PcbDoc

sensorplate/02_cad_data/altium/intraoral_sensor/History
sensorplate/02_cad_data/altium/intraoral_sensor/_Previews

control_unit/02_cad_data/altium/OPG_control_unit/History
control_unit/02_cad_data/altium/OPG_control_unit/_Previews